html {
    width: 100%;
    height:100%;
}

body {
    width: 100%;
    height:100%;
    font-size: 16px;
}

/** 
* Above elements need percent !Doctype support, containing elements will then be able to use percent units
*/

.row_1 {  /* default css for row if height width allows for it */
    height :80%;
}

.row_1 {
    max-height: 100%;
    box-sizing: border-box;
    background-color: #f0f5ff;
    font-family: 'Noto Sans KR', sans-serif;
}

.main_content {
    background-color: #fff;
}

.slideshow {
    position: absolute;
    margin: 0;
    width: 100%;
    height:inherit;
}

.slide_block {
    position: absolute;
    max-height: inherit;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    /* background-position: center, center; */
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -ms-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

.selected {
    visibility: visible;
    opacity: 1;
}

#pano_1 {
    background-image: url(https://storage.googleapis.com/blurqer/creative_works/20130824_103432.jpg);
    z-index: 2;
    background-position-y:center;
}

#pano_2 {
    background-image: url(https://storage.googleapis.com/blurqer/creative_works/20150206_162217.jpg);
    z-index: 3;
    background-position-y:center;
}

#pano_3 {
    background-image: url(https://storage.googleapis.com/blurqer/creative_works/20180320_143703.jpg);
    z-index: 4;
}

#pano_4 {
    background-image: url(https://storage.googleapis.com/blurqer/creative_works/20150623_110826.jpg);
    z-index: 5;
}

.slider_overlay {
    position: relative;
    z-index: 5;
    width: inherit;
    height: calc(3% - 0.5vh + 2vw);
    background-color: #f0f5ff;
}

#three_nav {
    position: absolute;
    display: inline-block;
    zoom: 1;
    /* line-height: 12px; */
    top: calc(50% - 10px);
    left: calc(50% - 37px); /*adding 12 px to offset the margin of each circle*/
}

#three_nav ul {
    margin: 0;
    padding: 0;
}

#three_nav li {
    display: inline-block;
    list-style: none;
}

.show_innertxt {
    display: inline;
    position: absolute;
    width: 60%;
    min-width: 30%;
    height: max-content;
    max-height: 55%;
    top: calc(30% + 1vw);
    color: #FFF;
    background-color: rgba(100, 117, 153, 0.65);
    -webkit-transition: 0.25s ease-in-out all;
    font-size: 1.5rem; /*target 24px / context body 16px */
    font-weight: bold;
    overflow-y: hidden;
    line-break: auto;
    padding-left: 10px;
    margin-left:2%;
    line-height:1.8;
}

@media (min-width: 712px) {
    .slide_block{
        background-position-y: -50px;
    }

    /* #three_nav {
        top: calc(76.8% + 2vw);
    } */

    .show_innertxt {
        width: 50%;
        top: calc(20% + 1vw);
    }
}

@media (min-width: 972px) {
    .show_innertxt {
        width: 40%;
        left: 5%;
    }
}

@media (min-width: 1122px) {
    .show_innertxt {
        width: 30%;
    }
}

@media (max-width: 800px) { /* pc devices with resized window */
    .slide_block {
        background-size: calc(100% + 7vw);
    }
}

.circle_input {
    display: none;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    opacity: 0.6;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    margin: 0 12px 0 0;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

input[type="radio"]:checked+label{
    opacity: 1;
    background-color: darkkhaki;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.row_2
{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.125rem; /*target 24px / context body 16px */
}

@media (min-width: 1152px)
{
    .row_2 {
        max-width: 1192px;
    }
}

@media (min-width: 1024px)
{
    .row_2 {
        max-width: 1151px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

/* @media (min-width: 752px)
{
    .row_2 {
        max-width: 1023px;
    }
} */

@media (min-width: 576px)
{
    .row_2 {
        /* max-width: 751px; */
        padding-left: 36px;
        padding-right: 36px;
    }
}

.main
{
    position: relative;
    display: flex;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#svc1 
{
    /* border: 1px solid #000; */
}

#svc2
{

}

#svc3
{

}

#svc4
{

}

.svc_tabs
{
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center!important;
}

.show_img
{
    max-width: 100%;
}


@media (min-width: 320px) {
    .svc_tabs
    {
        width: 60%;
        
    }
}

@media (min-width: 360px) {
    .svc_tabs
    {
        width: 40%;
        
    }
}

@media (min-width: 712px) {
    .svc_tabs
    {
        width: 20%;
    }
}

.svc_des
{
    position:relative;
    color: rgba(100, 117, 153, 0.65);
    bottom: 15px;
}

#svc_txt3 {
    bottom: 4px;
}

.svc_panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    color: wheat;
    background-color: rgba(0, 0, 0, 0.735);
    /* max-width: 100%; */
    /* max-height: 100%; */
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.displayPanel {
    max-height: 100vh;
    max-width: 70vh;
    height: 100%;
    min-height: 50px;
}

.close_btn.btn_neu {
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    left: 90%;
    border: none;
    border-radius: 50px;
    font-size: medium;
    font-family: sans-serif;
    font-style: normal;
}

.sliding_gallery {
    position: relative;
    z-index: 5;
    width: 100%;
    height: auto;
    background-color: #f0f5ff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#img_display {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.scrollable_panel {
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#txtbox {
    padding: 5% 5%;
    width: 100%;
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

#innerptxt {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 32px;
}